body{
    background: url(coffee.jpg) no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
    color: #fff
     
}


/* .a{
    background: rgba(43, 19, 0, 0.719);
    height: 100vh;
    background-size: cover;
    z-index: -5;
} */

.hero{
    color: #fff;
    margin: 12% auto auto auto;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 7%;
    padding-right: 7%;
    background: rgba(43, 19, 0, 0.719);
    text-align: center;
    max-width: 70%;
    /* margin: auto; */
    font-size: 55px;
    line-height: 1.2em;
    font-family: 'Galada', cursive;
    border-radius: 20px;

}
